body {
  width: 95%;
  margin: auto;

}

.commonstyles a {

}

.commonstyles small {
}

.commonstyles strong {

}

.commonstyles h1 {

}

.commonstyles h2 {
}

.commonstyles h3 {
  margin-top: 42px;
}

.commonstyles h4 {
  margin-bottom: 0;
}

.commonstyles p {
  margin-top: 0;
  margin-bottom: 27px;
}

.commonstyles ul {
  list-style: square;
}

.commonstyles ul p {

}

.commonstyles li {

}

.commonstyles hr {
  border: none;
  border-top: 1px solid #222222;
  margin: 30px 0;
}

.commonstyles img {
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #222222;
  padding: 5px;
  text-align: center
}

.commonstyles img[alt] {
  float: right;
}

.toc {

  max-width: 300px;
  float:right;
  margin: 0 0 20px 20px;
}

.toc .toclevel-1 {

}

.toc .toclevel-1 > a {

}

.toc .toclevel-2 {

}

.toc .toclevel-2 > a {

}

.datatable td {
  padding: 8px 14px;
}

.datatable td:first-child{
  text-transform: uppercase;
}

/* Custom CSS */
p {
  font-family: Georgia, "Times New Roman";
  color: #05080C;
}

table {
  border-style: 2px solid black;
}

#toc a {
    color: #000;
    text-decoration: none;
}


#toc a:hover{
    color:blue;
}

h1 {
  text-transform: uppercase;
}


#toc ol ul a {
  color: #3344aa;
}

#free {
  color: none;
}

#tableOfContents {
  border: 3px solid black;
  float: right;
  width: 35%;
}

#xia-image {
  margin: auto;
  display: block;
}

#toc {
  border: 2px solid black;
  background-color: #d3d3d3;
  width: 35%;

}

table {
  border: 1px solid black;
}

#h3toc {
  padding-left: 10px;
}

h4 {
  padding-left: 10px;
}

#footnotes {
  border: 1px solid black;
  width: 98%;
  background-color: #e4eaea;
  margin: auto;
  padding-left: 5px;
}

